@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Santiago Eiras</h3>

<address>
    Schwedenstraße 17, 13357, Berlin, Germany<br />
</address>

<address>
    <strong>Mobile:</strong>+491774844815<br />
    <strong>Support:</strong>   <a href="mailto:santie88@gmail.com">santie88@gmail.com</a><br />
</address>