@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <h1>Welcome to BeerSite</h1>
    <p class="lead">I hope you'll find all the information that you want about beers.</p>
    <p><a href="http://www.brewerydb.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>